nav {
    li {
        padding: 0 50px 50px 50px;
    }

    ul {
        justify-content: center;
    }

}

section {
    min-height: 400px;
}

.textContainer {
    min-width: 450px;
}

// Nav
nav {
    background-color: $lightGreyBlue;
    padding: 10px;

    li {
        margin: auto 0;
    }

    h5 {
        font-size: 60px;
        margin: auto 0;
    }
}



// Footer
footer {
    display: flex;
    background-color: $solidBlack;
    text-align: center;
    background-size: cover;

    p {
        margin: 0;
        color: $whiteShade;

    }
}

//Button
button {
    background-color: $accent;
    border-style: none;
    padding: 10px 30px;

}

.hamburgerButton {
    padding: 0;
    border: none;
    background-color: $lightGreyBlue;
    display: flex;
    i{
        margin: 0 auto;
        
    }
    &:hover {
        cursor: pointer;
    }
}
.hamburgerMenu {
    display: none;
}
