// nav highlight
.blogNav {
    color: $solideWhite;
}



.blogHeader {
    height: 40vh;
    background-size: cover;
    background-image: url(../project-1-harper/assets/blog-image-1.jpg);

    .position {
        position: relative;
        top: 330px
    }

    h1 {
        font-size: 80px;
        margin: 0;

    }
}

.blogMain {
    background-color: $whiteShade;
    padding-top: 75px;
    padding-bottom: 75px;

    aside {
        width: 40%;

        .aboutHarper,
        .recentPosts {
            background-color: $solideWhite;
            padding: 20px;
            margin-right: 30px;
            margin-bottom: 30px;
        }

    }

    article {
        background-color: $solideWhite ;
        padding: 20px;
        margin-bottom: 30px;


    }

    .comment2,
    .blogPost {
        border-bottom: 4px solid $duskBlue ;
        border-color: $duskBlue;
        
    }
    .comment1,
    .comment2 {
        .imgContainer {
            padding-top: 20px;
            width: 30%;
            margin-right: 20px;
            min-width: 90px;
        }
    }
    


}