//site colours
$solidBlack: #171717;
$whiteShade: #f6f6f6;
$accent: #f38d8d;
$greyBlue: #68b0c1;
$duskBlue: #227294;
$lightGreyBlue: #b9dde7;
$solideWhite: #fff;

// site font
$defaultFont: 'Oswald',sans-serif;
$bodyFont: 'Cabin',sans-serif;
