@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
  font-size: 125%;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

nav,
ul,
.flexContainer {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
a,
button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Cabin", sans-serif;
  color: #171717;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

nav li {
  padding: 0 50px 50px 50px;
}
nav ul {
  justify-content: center;
}

section {
  min-height: 400px;
}

.textContainer {
  min-width: 450px;
}

nav {
  background-color: #b9dde7;
  padding: 10px;
}
nav li {
  margin: auto 0;
}
nav h5 {
  font-size: 60px;
  margin: auto 0;
}

footer {
  display: flex;
  background-color: #171717;
  text-align: center;
  background-size: cover;
}
footer p {
  margin: 0;
  color: #f6f6f6;
}

button {
  background-color: #f38d8d;
  border-style: none;
  padding: 10px 30px;
}

.homeNav {
  color: #fff;
}

.homeHeader {
  background-color: #b9dde7;
}
.homeHeader h1 {
  font-size: 8rem;
}
.homeHeader .textContainer {
  text-align: start;
  margin: auto 0;
  padding-left: 50px;
}
.homeHeader .textContainer .position {
  position: relative;
  bottom: 330px;
  left: 410px;
}
.homeHeader .imgContainer {
  box-shadow: 20px 20px 0 0 #fff;
  position: relative;
  top: 60px;
}

.description {
  background-color: #f6f6f6;
  height: 40vh;
}
.description .textContainer {
  width: 50%;
  margin: auto 0 auto auto;
  padding-top: 70px;
}
.description h2 {
  margin: 0;
}

.banner {
  height: 40vh;
  background-image: url(../project-1-harper/assets/home-image-2.jpg);
  background-size: cover;
}

.info {
  min-height: 50vh;
  background-color: #f6f6f6;
  padding-top: 75px;
  padding-bottom: 100px;
}
.info .content {
  width: 50%;
}
.info .imgContainer {
  min-width: 20px;
  padding-top: 25px;
  margin-right: 40px;
}
.info .fa-image,
.info .fa-display,
.info .fa-user,
.info .fa-phone-flip {
  position: relative;
  background: #b9dde7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.info .fa-image:before,
.info .fa-display:before,
.info .fa-user:before,
.info .fa-phone-flip:before {
  position: absolute;
  left: 10px;
}

.travelsThings {
  min-height: 700px;
}
.travelsThings .textContainer {
  width: 50%;
  margin: auto 0;
}
.travelsThings .textContainer.box1 {
  padding-left: 50px;
}
.travelsThings .textContainer.box2 {
  padding-right: 50px;
}
.travelsThings .imgContainer {
  width: 50%;
}
.travelsThings .imgContainer.box1 {
  position: relative;
  background-color: #227294;
  bottom: 40px;
  right: 400px;
}
.travelsThings .box1 .position {
  box-shadow: 20px 20px 0 0 #227294;
  position: relative;
  left: 400px;
  bottom: 20px;
}
.travelsThings .imgContainer.box2 {
  position: relative;
  background-color: #b9dde7;
  top: 40px;
  left: 400px;
}
.travelsThings .box2 .position {
  box-shadow: 20px 20px 0 0 #b9dde7;
  position: relative;
  right: 400px;
  bottom: 20px;
}
.travelsThings .textContainer .right {
  text-align: right;
  padding-right: 50px;
}

.journey {
  background-color: #f6f6f6;
  padding-top: 100px;
  padding-bottom: 75px;
}
.journey .textContainer {
  margin-left: 50px;
  width: 70%;
}
.journey .imgContainer img {
  box-shadow: 20px 20px 0 0 #227294;
}

.gallery {
  margin: 50px auto;
}
.gallery li:nth-child(1),
.gallery li:nth-child(2) {
  margin-right: 10px;
}

.contactNav {
  color: #fff;
}

.contactHeader {
  height: 40vh;
  background-image: url(../project-1-harper/assets/contact-image-1.jpg);
  background-size: cover;
}
.contactHeader .position {
  position: relative;
  top: 330px;
}
.contactHeader h1 {
  font-size: 80px;
  margin: 0;
}

.contactMain {
  background-color: #f6f6f6;
  padding-top: 75px;
  padding-bottom: 75px;
}
.contactMain .textContainer {
  background-color: #fff;
  width: 30%;
  padding: 20px;
  margin-right: 30px;
}
.contactMain .textContainer h3 {
  padding-top: 100px;
  text-transform: lowercase;
  margin-left: 30px;
}
.contactMain .textContainer p {
  margin-left: 30px;
}
.contactMain aside {
  position: relative;
  bottom: 25px;
}
.contactMain ul {
  position: relative;
  top: 100px;
  left: 50px;
  width: 70%;
}
.contactMain ul i {
  color: #227294;
}

.contactForm {
  width: 70%;
}

input,
textarea {
  border: none;
  font-family: "Oswald", sans-serif;
  padding: 20px 10px;
}

input[type=text] {
  margin-right: 10px;
  color: #171717;
  width: calc(50% - 10px);
}

input[type=email] {
  color: #171717;
  width: calc(50% - 10px);
}

textarea {
  color: #171717;
  margin-top: 10px;
  width: 100%;
  padding-top: 30px;
  padding-left: 10px;
}

button {
  width: 100%;
  margin-top: 20px;
}

.blogNav {
  color: #fff;
}

.blogHeader {
  height: 40vh;
  background-size: cover;
  background-image: url(../project-1-harper/assets/blog-image-1.jpg);
}
.blogHeader .position {
  position: relative;
  top: 330px;
}
.blogHeader h1 {
  font-size: 80px;
  margin: 0;
}

.blogMain {
  background-color: #f6f6f6;
  padding-top: 75px;
  padding-bottom: 75px;
}
.blogMain aside {
  width: 40%;
}
.blogMain aside .aboutHarper,
.blogMain aside .recentPosts {
  background-color: #fff;
  padding: 20px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.blogMain article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
}
.blogMain .comment2,
.blogMain .blogPost {
  border-bottom: 4px solid #227294;
  border-color: #227294;
}
.blogMain .comment1 .imgContainer,
.blogMain .comment2 .imgContainer {
  padding-top: 20px;
  width: 30%;
  margin-right: 20px;
  min-width: 90px;
}

@media (max-width: 1220px) {
  .homeHeader .imgContainer {
    position: absolute;
    left: -99999px;
  }
  .homeHeader .textContainer {
    justify-content: center;
  }
  .description .textContainer {
    margin: auto 0;
  }
  .flexContainer {
    flex-direction: column;
  }
  .travelsThings {
    position: absolute;
    left: -99999px;
  }
}